version: '3.1'

services:

  db:
    image: postgres
    restart: always
    volumes:
      - ./sql/init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
    ports:
      - '5432:5432'
    environment:
      POSTGRES_DB: students
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 87654321
